.o_standard_footer, .o_standard_header, .o_report_layout_standard {
    font-size: 12px;
}

.company_address {
    font-size: 15px;
    line-height: 1.2;
    margin-left: 5px;
    padding-top: 7px;
}

#informations {
    margin-bottom: 0.6rem;
}


.footer-info {
    font-size: 12px;
    line-height: 1;
    margin-right: 11px;
    letter-spacing: 1.1px;
}

.footer-bank-tax-info {
    padding-top:0.1rem;
    font-size: 0.7rem;
}

.footer-address-info {
    margin:0;
    padding:0;
    padding-top:0.5rem;
}

.footer-input-text {
    padding-left: 12px;
}

.footer-bic {
    padding-left: 14px;
}

.column-header-description {
    width: 65%;
}

.o_standard_header {
    min-width: 900px;
    border-bottom: 1px solid black;
    img {
        max-height: 96px;
        max-width: 200px;
        margin-right: 16px;
    }
    padding-bottom: 2px;
}

.o_standard_footer  {
    border-top: 1px solid black;
    margin-bottom: 20px;
}

.page-number {
    padding-top: 10px;
}

.page > h2 {
    padding-top: 1rem;
}
